body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

#poodleLogo{
    text-align: center
}

#mainDiv {
    margin: auto;
    width: 70%;
    height: 50%;
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#buttonDiv {
    text-align: center;
}
